
.vs/config/applicationhost.config
.vs/Translator2/v15/.suo
.vs/Translator2/v15/sqlite3/storage.ide
Translator2/bin/Translator2.dll
Translator2/bin/Translator2.pdb
Translator2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Translator2/obj/Debug/Translator2.csproj.CoreCompileInputs.cache
Translator2/obj/Debug/Translator2.csproj.FileListAbsolute.txt
Translator2/obj/Debug/Translator2.csprojResolveAssemblyReference.cache
Translator2/obj/Debug/Translator2.dll
Translator2/obj/Debug/Translator2.pdb
