@using Translator2.Models
@model Translator2.Models.TranslatorViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" />

<br />
<h3>Drinking time</h3>
@using (Html.BeginForm("Translate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        <div class="row">
            <div class="form-group">

                @Html.DropDownListFor(m => m.Taal, Model.Talen, new { @class = "form-control", @id = "tegenstanderSelect" })

            </div>
        </div>
        <div class="row">
            <div class="input-group">
                @Html.TextAreaFor(u => u.OriginalTekst, new { @id = "OriginalTekst", @class = "textarea-input" })
            </div>
        </div>
        <br />
        <div class="row">
            <input type="submit" class="btn btn-success btn-block" value="Vertaal" />
        </div>

        <hr class="divider"/>
        

        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Regels
                </div>
                <div class="panel-body">
                    <p>Elk woord uit de originele zin die er nog staat -> ZELF DRINKEN</p>
                    <p>Elk woord uit de originele zin die er niet meer staat of aangepast is -> UITDELEN</p>
                </div>
            </div>
        </div>
    </div>
}
